<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <record model="ir.actions.act_window" id="openlib_config_action">
            <field name="name">Variables</field>
            <field name="res_model">openlib.config</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="usage">menu</field>
        </record>
        <menuitem id="menu_global_variables" name="Variables" sequence="100" groups="base.group_system"
            parent="base.menu_custom" action="openlib_config_action"/>
    </data>
</openerp>
